.pre-loader{
	width: 100%; 
	height: 100%;
	position: fixed;
	z-index: 100000; 
	color: black;
}
.pre-loader div{
	width: 100%
}
.pre-loader div div{
	width: 350px;
}
@media only screen and (max-width: 370px){
	.pre-loader div div{
		width: 82%;
	}

}
		